/**
 * The main.css styles
 */

:root {
		--var-red: #f76b60;
		--var-redDark: #bf2222;
		--var-blueLight: #b5c1e6;
		--var-blue: #1a2f6e;
		--grey-light: #e0e0e0;
		--grey-dark: #595959;
		--bg-color: #f7f7f7;
}

body {
	font-size: 12px;
	margin: 0 auto;
	background: #fefefe;
	height: 100vh;
}

#app {
	position: relative;
	height: 800px;
	top: 50px;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid grey;
	border-radius: 10px;
	padding: 12px;
	background-color: var(--bg-color);
}

@media only screen and (max-width: 600px) {
	#app {
		width: 100vw;
		border: none;
		top: 0;
		height: 100vh;
		margin: 0;
	}
}


#mainPage {
	
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    min-width: 100%;
    box-shadow: 0 2px 3px grey;
    padding: 0 5px;
}

.iconHeader i{
    font-size: 30px;
    color: var(--var-red);
}

.logo {
    width: 40%;
}
.logo img{
    width: 100%;
}

main{
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
}

#accountSection {
	display:flex;
	flex-wrap: wrap;
	font-family: 'Raleway';
	justify-content: space-between;
}

.profile {
	position:relative;
	margin-bottom: 20px;
}

#userImgHome {
	z-index: 1000;
	position: relative;
	width: 100%;
	height: 350px;
	background-size: cover;
	border-radius: 20px;
	box-shadow: 0 -2px 10px var(--grey-dark);
	margin-top: 15px;
	
}
#userImgHome2 {
	border-radius: 20px;
	position: absolute;
	bottom: 10px;
	width: 100%;
	height: 350px;
	left: 0;
	right: 0;
	background-size: cover;
}

h1 {
	font-family: 'Arvo', serif;
	font-size: 30px;
	margin:0;
	flex-shrink: 0;
}
#data{
	z-index: 1001;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin: 0px auto 10px 0;
	width: 95%;
	height: 80px;
	position: absolute;
	bottom: 2px;
	color: var(--bg-color);
	text-shadow: 2px 2px 8px black;
	padding: 0 8px;
}
#data #dist {
	font-size: 28px;
	color: var(--grey-light);
	margin: 0px 0 0 10px;
	font-family: 'Raleway';
}

#friends{
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
}

hr {
    margin: 10px 0;
}

.actionSection {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.btn {
    border: 3px solid var(--grey-dark);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: var(--grey-light);
    color: var(--var-red);
    font-size: 40px;
}
#locatieBtn {
    height: 50px;
    width: 50px;
    font-size: 20px;
}

#accepted{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.acceptedThumb {
    border: 5px solid var(--var-red);
    margin: 2px;
    width: 86px; 
    height: 86px;
    background-size: cover;
    border-radius: 50%;
}

/* swipe animation */

.swipeRight {
	position: relative;
	background-color: 0 0 6px green;
	border: 3px solid green;
	animation: swipeRight 0.3s forwards;
}

@keyframes swipeRight {
  	0% {
		left: 0;
		border-radius: 20px;
		opacity: 100%;
		transform:rotate(0deg);
  	}

	80% {
		transform-origin: bottom left;
		transform:rotate(4deg);
	}

	100% {
		border-radius: 60%;
		left: 70px;
		opacity: 0%;
  	}
}

.swipeLeft {
	position: relative;
	background-color: 0 0 6px green;
	border: 3px solid green;
	animation: swipeLeft 0.3s forwards;
	background-color: 0 0 6px green;
}

@keyframes swipeLeft {
  	0% {
		right: 0;
		opacity: 100%;
		border-radius: 20px;
		transform:rotate(0deg);
  	}

	80% {
		transform-origin: bottom right;
		transform:rotate(-4deg);
	}

	100% {
		border-radius: 60%;
		right: 50px;
		opacity: 0%;
  	}
}

/* MenuPage */
.disabled {
	display: none!important;
}
#menuPage{
	display:flex;
}

#dislikedMenu {
	min-width : 100%;
}
#likedMenu {
	min-width : 100%;
}
#dataLiked, #dataDisliked {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 650px;
}
#likedMenu > button, #dislikedMenu > button {
	background: none;
	border: none;
}
.likedMenuHeader > h2, .likedMenuHeader > h2 {
	display: inline-block;
	font-family: 'Arvo', serif;
	font-size: 25px;
}

.likedMenuHeader{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: auto;
}
.likednMenuNavBtn {
	background-color: var(--bg-color);;
	border: none;
	font-size: 18px;
}
#goToDislikedBtn {
	justify-self: flex-end;
}
.dislikedUserDiv, .likedUserDiv{
	display: flex;
	justify-content: space-between;
	align-items:center;
	
}
.dislikedUserDiv:nth-of-type(n),.likedUserDiv:nth-of-type(n) {
	background-color: #e0dede;
}
.dislikedUserDiv:nth-of-type(2n),.likedUserDiv:nth-of-type(2n) {
	background-color: white;
}
.group {
	display: flex;
	align-items:center;
}
.imgSmall{
	border: 5px solid var(--var-red);
	margin: 8px;
	width: 78px; 
	height: 78px;
	background-size: cover;
	border-radius: 50%;
}
.likedUserDiv .group > p, .dislikedUserDiv .group > p {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 22px;
	margin-left: 17px;
} 
.likedUserDiv > button, .dislikedUserDiv > button {
	background-color: inherit;
	border: 2px solid var(--grey-dark);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 0 20px;
	color: var(--var-red);
}

/* loadingscreen */
#loadingContainer {
	background-color: var(--var-red);
	height: 100vh;
	width: 100vw;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: var(--bg-color);
	font-size: 15px;
}

#loadingContainer i {
	font-size: 40px;
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* map */
#mapContainer {
	width: 100%;
	height: 100%;
}

#mapContainer #backBtn {
	font-size: 30px;
	color: var(--var-red);
	background-color: var(--bg-color);
	border-radius: 50%;
	position: fixed;
	z-index: 1;
	width: 50px;
	height: 50px;
	display:flex;
	justify-content: center;
	align-items: center;
}

/* authentication page */
#loginContainer {
	height: 100%;
}

#loginContainer p {
	font-family: 'Arvo', serif;
	font-size: 25px;
	font-weight: bold;
}
.authForm {
	margin-top: 200px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.authForm input {
	display:block;
	margin-bottom: 20px;
	height: 30px;
}

.authForm .submitBtn {
	font-family: 'Raleway';
	background-color: var(--var-red);
	border-radius: 10px;
	border: none;
	color: var(--bg-color);
	padding: 10px;
	font-size: 16px;
	width: 100%;
	border-bottom: 1px solid var(--var-redDark);
}

.goToBtn {
	font-family: 'Raleway';
	background-color: var(--var-blue);
	border: none;
	border-radius: 10px;
	color: var(--var-blueLight);
	padding: 6px;
	margin-top: 15px;
}

/* popup */

#popup {
	z-index: 1002;
	font-family: 'Raleway';
	width: 300px;
	height: 100px;
	position: absolute;
	top: 200px;
	background-color: var(--bg-color);
	margin: auto auto;
	padding: 10px;
	display:flex;
	flex-direction: column;
	box-shadow: 0 8px 10px ;
}
